  <footer id="footer">
    <nav>
      <ul>
        <li><span>CamMakoJ</span></li>
        <li>
          <a href="/about-me/aboutme/">About Me</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}"><img alt="Coding" height="20" src="{{ "/img/twitter.png" | relURL }}" width="20"></a>
          <a href="https://linkedIn.com/{{.Site.Params.linkedIn}}"><img alt="Coding" height="20" src="{{ "/img/linkedin.png" | relURL }}" width="20"></a>
          <a href="https://github.com/{{.Site.Params.github}}"><img alt="Coding" height="20" src="{{ "/img/github.png" | relURL }}" width="20"></a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>
