{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Site.Params.description}}</p>
  </div>

  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Environment" height="48" src="{{ "/img/leaf.png" | relURL }}" width="48">
        </figure>
        <a href="/categories/environment"><h3>Environment</h3></a>
        <p>My day to day role as an environmental consultant and lover of nature.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Geomatics" height="48" src="{{ "/img/earth.png" | relURL }}" width="48">
        </figure>
        <a href="/categories/geomatics"><h3>Geomatics</h3></a>
        <p>Collecting spatial data and then getting to the nitty gritty of understanding it</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Coding" height="48" src="{{ "/img/computer.png" | relURL }}" width="48">
        </figure>
        <a href="/categories/coding"><h3>Coding</h3></a>
        <p>Learning how to use scripting languages to make my life easier and more interesting</p>
      </div>
    </div>

    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Photography" height="48" src="{{ "/img/camera.png" | relURL }}" width="48">
        </figure>
        <a href="/categories/photography"><h3>Photography</h3></a>
        <p>I like photography, mostly to keep up with my wife</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Life" height="48" src="{{ "/img/thoughts.png" | relURL }}" width="48">
        </figure>
        <a href="/categories/life"><h3>Life</h3></a>
        <p>mostly just the ramblings of a man who wants to fish more</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="About Me" height="48" src="{{ "/img/shark.png" | relURL }}" width="48">
        </figure>
        <a href="/about-me/aboutme/"><h3>About Me</h3></a>
        <p>Learning how to use scripting languages to make my life easier and more interesting</p>
      </div>
  </div>

</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
